<div style="height: 90px; padding-left: 100px; margin-bottom: 70px;">
    <h1 style="color: white; font-weight: 300; font-size: 5.5em;">Members</h1>
</div>
<div style="min-height: 50%;">
    <!-- display all users -->
    <div *ngIf="!displayUser">
        <div
                *ngFor="let user of users; let i = index;"
                class="row">
            <div class="col-md-6 col-md-offset-2" style="background-color: #0f0f0f; border-radius: 10px; padding: 20px; margin-bottom: 15px;">
                <div class="col-md-7 col-md-push-4">
                    <p>Username: <span class="tmp1">{{user.userName}}</span></p>
                    <p>Firstname: <span class="tmp1">{{user.firstName}}</span></p>
                    <p>Lastname: <span class="tmp1">{{user.lastName}}</span></p>
                    <p>Country: <span class="tmp1">{{user.country}}</span></p>
                    <p>Year: <span class="tmp1">{{user.year}}</span></p>
                    <button class="btn btn-default" type="button" style="margin-top: 20px;"
                            (click)="onView(user)">View Profile</button>
                </div>
                <div class="col-md-3 col-md-pull-7">
                    <div class="top">
                        <img class="pp" src="data:image/png;base64,{{user.image}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- this displays the full info of clicked user -->
    <div *ngIf="displayUser" class="row">
        <div class="col-md-8 col-md-offset-2" style="background-color: #0f0f0f; border-radius: 10px; padding: 20px; margin-bottom: 15px;">
            <div class="col-md-7 col-md-push-4">
                <p class="tmp2">Username: </p>
                <p class="tmp1" style="font-size: medium; margin-left: 20px;">{{disUser.userName}}</p>
                <p class="tmp2">Firstname: </p>
                <p class="tmp1" style="font-size: medium; margin-left: 20px;">{{disUser.firstName}}</p>
                <p class="tmp2">Lastname: </p>
                <p class="tmp1" style="font-size: medium; margin-left: 20px;">{{disUser.lastName}}</p>
                <p class="tmp2">Country: </p>
                <p class="tmp1" style="font-size: medium; margin-left: 20px;">{{disUser.country}}</p>
                <p class="tmp2">Year: </p>
                <p class="tmp1" style="font-size: medium; margin-left: 20px;">{{disUser.year}}</p>
                <p class="tmp2">Bio: </p>
                <p class="tmp1" style="font-size: medium; margin-left: 20px;">{{disUser.bio}}</p>
                <!-- begins privacy display infos -->
                <div *ngIf="!disUser.favView">
                    <h4>Favourites</h4>
                    <div class="row">
                        <div class="col-xs-6 col-md-3" *ngFor="let fav of disUser.favList">
                            <div>
                                <img [routerLink]="['/home', 'movie', fav.id, fav.type]" class="ppp" src="{{fav.image}}" alt="test">
                                <p [routerLink]="['/home', 'movie', fav.id, fav.type]" class="sim">{{fav.title}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!disUser.watchView">
                    <h4>WatchList</h4>
                    <div class="row">
                        <div class="col-xs-6 col-md-3" *ngFor="let sim of disUser.watchList">
                            <div>
                                <img [routerLink]="['/home', 'movie', sim.id, sim.type]" class="ppp" src="{{sim.image}}" alt="test">
                                <p [routerLink]="['/home', 'movie', sim.id, sim.type]" class="sim">{{sim.title}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!disUser.recentView">
                    <h4>Recents</h4>
                    <div class="row">
                        <div class="col-xs-6 col-md-3" *ngFor="let sim of recentList">
                            <div>
                                <img [routerLink]="['/home', 'movie', sim.id, sim.type]" class="ppp" src="{{sim.image}}" alt="test">
                                <p [routerLink]="['/home', 'movie', sim.id, sim.type]" class="sim">{{sim.title}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end -->
            </div>
            <!-- side bar for the profile image -->
            <div class="col-md-3 col-md-pull-7">
                <div class="top">
                    <img class="pp" src="data:image/png;base64,{{disUser.image}}">
                </div>
            </div>
        </div>
    </div>
    <!-- back button only activated when viewing a full user profile -->
    <div *ngIf="displayUser" class="col-md-8 col-md-offset-2" style="margin-bottom: 10px;">
        <button class="btn btn-danger pull-right" (click)="onBack()">Back</button>
    </div>
</div>

